In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('C:/Users/maxir/cours-info/elections_pres_2022/votes-pres-2022.xlsx')
df

,Code du département,Libellé du département,Code de la commune,Libellé de la commune,Etat saisie,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,...,Voix 11,% Voix/Ins 11,% Voix/Exp 11,N°Panneau 12,Sexe 12,Nom 12,Prénom 12,Voix 12,% Voix/Ins 12,% Voix/Exp 12
0,01,Ain,1,L'Abergement-Clémenciat,Complet,645,108,16.74,537,83.26,...,3,0.47,0.58,12,M,DUPONT-AIGNAN,Nicolas,21,3.26,4.04
1,01,Ain,2,L'Abergement-de-Varey,Complet,213,38,17.84,175,82.16,...,3,1.41,1.75,12,M,DUPONT-AIGNAN,Nicolas,0,0.00,0.00
2,01,Ain,4,Ambérieu-en-Bugey,Complet,8765,2078,23.71,6687,76.29,...,43,0.49,0.66,12,M,DUPONT-AIGNAN,Nicolas,181,2.07,2.76
3,01,Ain,5,Ambérieux-en-Dombes,Complet,1282,234,18.25,1048,81.75,...,2,0.16,0.19,12,M,DUPONT-AIGNAN,Nicolas,27,2.11,2.63
4,01,Ain,6,Ambléon,Complet,103,23,22.33,80,77.67,...,0,0.00,0.00,12,M,DUPONT-AIGNAN,Nicolas,1,0.97,1.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35240,ZZ,Français établis hors de France,229,Zurich,Complet,24868,14101,56.70,10767,43.30,...,47,0.19,0.44,12,M,DUPONT-AIGNAN,Nicolas,189,0.76,1.77
35241,ZZ,Français établis hors de France,231,Taipei,Complet,1709,942,55.12,767,44.88,...,10,0.59,1.32,12,M,DUPONT-AIGNAN,Nicolas,10,0.59,1.32
35242,ZZ,Français établis hors de France,233,Nour-Soultan,Complet,117,64,54.70,53,45.30,...,0,0.00,0.00,12,M,DUPONT-AIGNAN,Nicolas,1,0.85,1.96
35243,ZZ,Français établis hors de France,234,Monterrey,Complet,713,553,77.56,160,22.44,...,1,0.14,0.63,12,M,DUPONT-AIGNAN,Nicolas,1,0.14,0.63
35244,ZZ,Français établis hors de France,235,Bahamas (Nassau),Complet,136,78,57.35,58,42.65,...,0,0.00,0.00,12,M,DUPONT-AIGNAN,Nicolas,1,0.74,1.82

In [3]:
df.dtypes

Code du département        object
Libellé du département     object
Code de la commune          int64
Libellé de la commune      object
Etat saisie                object
                           ...
Nom 12                     object
Prénom 12                  object
Voix 12                     int64
% Voix/Ins 12             float64
% Voix/Exp 12             float64
Length: 103, dtype: object

In [4]:
df.columns

Index(['Code du département', 'Libellé du département', 'Code de la commune',
       'Libellé de la commune', 'Etat saisie', 'Inscrits', 'Abstentions',
       '% Abs/Ins', 'Votants', '% Vot/Ins',
       ...
       'Voix 11', '% Voix/Ins 11', '% Voix/Exp 11', 'N°Panneau 12', 'Sexe 12',
       'Nom 12', 'Prénom 12', 'Voix 12', '% Voix/Ins 12', '% Voix/Exp 12'],
      dtype='object', length=103)

In [5]:
cellules_vides = df.isnull()
print(cellules_vides)

       Code du département  Libellé du département  Code de la commune  \
0                    False                   False               False
1                    False                   False               False
2                    False                   False               False
3                    False                   False               False
4                    False                   False               False
...                    ...                     ...                 ...
35240                False                   False               False
35241                False                   False               False
35242                False                   False               False
35243                False                   False               False
35244                False                   False               False

       Libellé de la commune  Etat saisie  Inscrits  Abstentions  % Abs/Ins  \
0                      False        False     False        False      False
1                      False        False     False        False      False
2                      False        False     False        False      False
3                      False        False     False        False      False
4                      False        False     False        False      False
...                      ...          ...       ...          ...        ...
35240                  False        False     False        False      False
35241                  False        False     False        False      False
35242                  False        False     False        False      False
35243                  False        False     False        False      False
35244                  False        False     False        False      False

       Votants  % Vot/Ins  ...  Voix 11  % Voix/Ins 11  % Voix/Exp 11  \
0        False      False  ...    False          False          False
1        False      False  ...    False          False          False
2        False      False  ...    False          False          False
3        False      False  ...    False          False          False
4        False      False  ...    False          False          False
...        ...        ...  ...      ...            ...            ...
35240    False      False  ...    False          False          False
35241    False      False  ...    False          False          False
35242    False      False  ...    False          False          False
35243    False      False  ...    False          False          False
35244    False      False  ...    False          False          False

       N°Panneau 12  Sexe 12  Nom 12  Prénom 12  Voix 12  % Voix/Ins 12  \
0             False    False   False      False    False          False
1             False    False   False      False    False          False
2             False    False   False      False    False          False
3             False    False   False      False    False          False
4             False    False   False      False    False          False
...             ...      ...     ...        ...      ...            ...
35240         False    False   False      False    False          False
35241         False    False   False      False    False          False
35242         False    False   False      False    False          False
35243         False    False   False      False    False          False
35244         False    False   False      False    False          False

       % Voix/Exp 12
0              False
1              False
2              False
3              False
4              False
...              ...
35240          False
35241          False
35242          False
35243          False
35244          False

[35245 rows x 103 columns]

In [6]:
nombre_cellules_vides = cellules_vides.sum().sum()
print(nombre_cellules_vides)
# pour vérifier que le dataframme est complet

0

In [7]:
resultats = pd.DataFrame()
for i in range(1, 13):
    # Regrouper les voix par département
    df_voix = df.groupby('Code du département')[f'Voix {i}'].sum()
    # Ajouter cette série comme une colonne au DataFrame des résultats
    resultats[f'Nom {i}'] = df[f'Nom {i}'][1]
    resultats[f'Voix {i}'] = df_voix
print(resultats)
# résultats des élections par département

                    Nom 1  Voix 1    Nom 2  Voix 2   Nom 3  Voix 3     Nom 4  \
Code du département
01                    NaN    1658  ROUSSEL    5938  MACRON   92206  LASSALLE
02                    NaN    2038  ROUSSEL    5968  MACRON   58721  LASSALLE
03                    NaN    1359  ROUSSEL    8119  MACRON   49706  LASSALLE
04                    NaN     505  ROUSSEL    2721  MACRON   20800  LASSALLE
05                    NaN     428  ROUSSEL    1925  MACRON   20507  LASSALLE
...                   ...     ...      ...     ...     ...     ...       ...
ZP                    NaN     808  ROUSSEL     368  MACRON   24106  LASSALLE
ZS                    NaN      22  ROUSSEL      19  MACRON     534  LASSALLE
ZW                    NaN      98  ROUSSEL      34  MACRON    2115  LASSALLE
ZX                    NaN      41  ROUSSEL      48  MACRON    2070  LASSALLE
ZZ                    NaN    1300  ROUSSEL    3266  MACRON  224957  LASSALLE

                     Voix 4   Nom 5  Voix 5  ...    Nom 8  Voix 8  Nom 9  \
Code du département                          ...
01                    10876  LE PEN   86755  ...  HIDALGO    5644  JADOT
02                     6468  LE PEN  104342  ...  HIDALGO    2983  JADOT
03                     7782  LE PEN   50315  ...  HIDALGO    3280  JADOT
04                     4309  LE PEN   26010  ...  HIDALGO    1396  JADOT
05                     3871  LE PEN   19696  ...  HIDALGO    1459  JADOT
...                     ...     ...     ...  ...      ...     ...    ...
ZP                      610  LE PEN   11705  ...  HIDALGO     865  JADOT
ZS                      108  LE PEN     459  ...  HIDALGO      75  JADOT
ZW                       78  LE PEN     579  ...  HIDALGO     118  JADOT
ZX                      208  LE PEN    1445  ...  HIDALGO      92  JADOT
ZZ                     5964  LE PEN   26380  ...  HIDALGO   12489  JADOT

                     Voix 9    Nom 10  Voix 10  Nom 11  Voix 11  \
Code du département
01                    15843  PÉCRESSE    17572  POUTOU     2172
02                     7074  PÉCRESSE    10920  POUTOU     2118
03                     5982  PÉCRESSE    10319  POUTOU     1503
04                     3957  PÉCRESSE     3834  POUTOU      865
05                     5013  PÉCRESSE     4511  POUTOU      801
...                     ...       ...      ...     ...      ...
ZP                     2150  PÉCRESSE     4725  POUTOU      451
ZS                      116  PÉCRESSE       51  POUTOU       50
ZW                       72  PÉCRESSE     1354  POUTOU       48
ZX                      247  PÉCRESSE      354  POUTOU       63
ZZ                    40774  PÉCRESSE    20956  POUTOU     3145

                            Nom 12  Voix 12
Code du département
01                   DUPONT-AIGNAN     8998
02                   DUPONT-AIGNAN     5790
03                   DUPONT-AIGNAN     4216
04                   DUPONT-AIGNAN     2504
05                   DUPONT-AIGNAN     2142
...                            ...      ...
ZP                   DUPONT-AIGNAN     1969
ZS                   DUPONT-AIGNAN       82
ZW                   DUPONT-AIGNAN      244
ZX                   DUPONT-AIGNAN      339
ZZ                   DUPONT-AIGNAN     7074

[107 rows x 24 columns]

In [8]:
# Identification des colonnes contenant des voix
colonnes_voix = [col for col in resultats.columns if 'Voix' in col]
total_voix_par_colonne = resultats[colonnes_voix].sum()
print("Voix pour chaque candidat :")
print(total_voix_par_colonne)
# nombre total de voix par candidat

Voix pour chaque candidat :
Voix 1      197094
Voix 2      802422
Voix 3     9783058
Voix 4     1101387
Voix 5     8133828
Voix 6     2485226
Voix 7     7712520
Voix 8      616478
Voix 9     1627853
Voix 10    1679001
Voix 11     268904
Voix 12     725176
dtype: int64

In [9]:
voix_series = pd.Series(total_voix_par_colonne)
total_voix = total_voix_par_colonne.sum()
# Calcul des pourcentages
pourcentages_series = (voix_series / total_voix) * 100
print("Pourcentages des voix par candidat :")
print(pourcentages_series)
# pourcentage correspondant à ce nombre de voix

Pourcentages des voix par candidat :
Voix 1      0.560995
Voix 2      2.283959
Voix 3     27.845822
Voix 4      3.134912
Voix 5     23.151568
Voix 6      7.073776
Voix 7     21.952386
Voix 8      1.754701
Voix 9      4.633409
Voix 10     4.778993
Voix 11     0.765390
Voix 12     2.064091
dtype: float64

In [10]:
taux_abs = pd.DataFrame()
df_abs = df.groupby('Code du département')['Abstentions'].sum()
df_ins = df.groupby('Code du département')['Inscrits'].sum()
taux_abs['Abstentions'] = df_abs
taux_abs['Inscrits'] = df_ins
print(taux_abs)
# taux d'abstention par région

                     Abstentions  Inscrits
Code du département
01                         97541    438109
02                        101089    373544
03                         58497    249991
04                         29290    128075
05                         25357    113519
...                          ...       ...
ZP                        142121    205576
ZS                          2272      5045
ZW                          4125      9528
ZX                         15812     24414
ZZ                        931455   1435746

[107 rows x 2 columns]

In [11]:
taux_abs['Taux_abstention'] = (taux_abs['Abstentions'] / taux_abs['Inscrits']) * 100
print(taux_abs)

                     Abstentions  Inscrits  Taux_abstention
Code du département
01                         97541    438109        22.264094
02                        101089    373544        27.062140
03                         58497    249991        23.399642
04                         29290    128075        22.869412
05                         25357    113519        22.337230
...                          ...       ...              ...
ZP                        142121    205576        69.133070
ZS                          2272      5045        45.034688
ZW                          4125      9528        43.293451
ZX                         15812     24414        64.766118
ZZ                        931455   1435746        64.876030

[107 rows x 3 columns]

In [12]:
nouveau = pd.DataFrame()
for i in range(1, 13):
    # Regrouper les voix par département
    df_voix = df.groupby('Code du département')[f'Voix {i}'].sum()
    nouveau[f'Voix {i}'] = df_voix
nouveau['Max_Value'] = nouveau.max(axis=1)
nouveau['Max_Column'] = nouveau.idxmax(axis=1)
nouveau['Inscrits'] = df.groupby('Code du département')['Inscrits'].sum()
nouveau['Points'] = nouveau.apply(lambda row: row['Inscrits'] if row['Max_Value'] == row[row['Max_Column']] else 0, axis=1) # le score maximal de voix remporte toutes les voix du département
print(nouveau)
# simuler les résultats d'élections selon le modèle américain

                     Voix 1  Voix 2  Voix 3  Voix 4  Voix 5  Voix 6  Voix 7  \
Code du département
01                     1658    5938   92206   10876   86755   27530   57832
02                     2038    5968   58721    6468  104342   18266   41172
03                     1359    8119   49706    7782   50315   12361   31013
04                      505    2721   20800    4309   26010    7926   21856
05                      428    1925   20507    3871   19696    6164   19718
...                     ...     ...     ...     ...     ...     ...     ...
ZP                      808     368   24106     610   11705    4283    7990
ZS                       22      19     534     108     459      80    1105
ZW                       98      34    2115      78     579     118     501
ZX                       41      48    2070     208    1445    1107    2354
ZZ                     1300    3266  224957    5964   26380   43252  109394

                     Voix 8  Voix 9  Voix 10  Voix 11  Voix 12  Max_Value  \
Code du département
01                     5644   15843    17572     2172     8998      92206
02                     2983    7074    10920     2118     5790     104342
03                     3280    5982    10319     1503     4216      50315
04                     1396    3957     3834      865     2504      26010
05                     1459    5013     4511      801     2142      20507
...                     ...     ...      ...      ...      ...        ...
ZP                      865    2150     4725      451     1969      24106
ZS                       75     116       51       50       82       1105
ZW                      118      72     1354       48      244       2115
ZX                       92     247      354       63      339       2354
ZZ                    12489   40774    20956     3145     7074     224957

                    Max_Column  Inscrits   Points
Code du département
01                      Voix 3    438109   438109
02                      Voix 5    373544   373544
03                      Voix 5    249991   249991
04                      Voix 5    128075   128075
05                      Voix 3    113519   113519
...                        ...       ...      ...
ZP                      Voix 3    205576   205576
ZS                      Voix 7      5045     5045
ZW                      Voix 3      9528     9528
ZX                      Voix 7     24414    24414
ZZ                      Voix 3   1435746  1435746

[107 rows x 16 columns]

In [13]:
points = pd.DataFrame()
for i in range(1, 13):
    points[f'points {i}'] = nouveau.apply(lambda row: row['Inscrits'] if row['Max_Column'] == f'Voix {i}' else 0,axis=1)
print (points)
# nombre de voix accumulées par département et par candidat

                     points 1  points 2  points 3  points 4  points 5  \
Code du département
01                          0         0    438109         0         0
02                          0         0         0         0    373544
03                          0         0         0         0    249991
04                          0         0         0         0    128075
05                          0         0    113519         0         0
...                       ...       ...       ...       ...       ...
ZP                          0         0    205576         0         0
ZS                          0         0         0         0         0
ZW                          0         0      9528         0         0
ZX                          0         0         0         0         0
ZZ                          0         0   1435746         0         0

                     points 6  points 7  points 8  points 9  points 10  \
Code du département
01                          0         0         0         0          0
02                          0         0         0         0          0
03                          0         0         0         0          0
04                          0         0         0         0          0
05                          0         0         0         0          0
...                       ...       ...       ...       ...        ...
ZP                          0         0         0         0          0
ZS                          0      5045         0         0          0
ZW                          0         0         0         0          0
ZX                          0     24414         0         0          0
ZZ                          0         0         0         0          0

                     points 11  points 12
Code du département
01                           0          0
02                           0          0
03                           0          0
04                           0          0
05                           0          0
...                        ...        ...
ZP                           0          0
ZS                           0          0
ZW                           0          0
ZX                           0          0
ZZ                           0          0

[107 rows x 12 columns]

In [14]:
colonnes_points = [col for col in points.columns if 'points' in col]
total_points_par_colonne = points[colonnes_points].sum()
print("Points pour chaque candidat :")
print(total_points_par_colonne)

Points pour chaque candidat :
points 1            0
points 2            0
points 3     26635292
points 4            0
points 5     16542590
points 6            0
points 7      5569994
points 8            0
points 9            0
points 10           0
points 11           0
points 12           0
dtype: int64

In [15]:
print (total_points_par_colonne.max(), total_points_par_colonne.idxmax())
# donne le candidat qui aurait alors remporté l'élection (ici points 3 est renvoyé ce qui correspond au nom 3)

26635292 points 3